
main{
    position: relative;
}

main>section:nth-child(1){
    position: relative;
    background: url("/assets/img/background.png") ;
    width: 98.93vw;
    height: 100vh;
}
main>section:nth-child(1)>aside>img:nth-child(1){
    position: absolute;
    height: 450px;
    border-radius: 44%;
    right: 140px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    z-index: 1;
}

main>section:nth-child(1)>aside>img:nth-child(2){
    position: absolute;
    height: 600px;
    right: 25px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

main>section:nth-child(2){
    position: relative;
    background: #F9F9F9 ;
    width: 98.93vw;
    height: 100vh;
}
