@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&display=swap');

header {
    position: relative;
}

header > h1 {
    position: absolute;
    z-index: 1;
    font-family: 'Inika', serif;
    left: 80px;
    color: white;
}

header > h1 > span {
    color: #FF4343;
}

header > div {
    display: none;
}

header > nav {
    position: absolute;
    z-index: 1;
}

header > nav > menu {
    position: relative;
    left: 1000px;
    margin-top: 20px;
}

header > nav > menu > li {
    display: inline-block;
    margin-right: 20px;
}

header > nav > menu > li > a:hover {
    color: purple;
}

header > nav > menu > li > a {
    text-decoration: none;
    color: #6C6C6C;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
}

main {
    position: relative;
}

main > section:nth-child(1) {
    position: relative;
    background: linear-gradient(to right, #0075FF, rgba(149, 198, 255, 0.23));
    width: 100%;
    height: 100vh;
}

main > section:nth-child(1) > div {
    position: absolute;
    width: 195px;
    height: 1215px;
    top: 0;
    left: 166px;
    bottom: 40px;
    background: rgba(78, 167, 249, 0.56);
    margin: auto;
    transform: rotate(45deg);
}

main > section:nth-child(1) > aside > img:nth-child(1) {
    position: absolute;
    height: 60%;
    top: 0;
    bottom: 0;
    right: 140px;
    border-radius: 150px;
    margin: auto;
    z-index: 1;
}

main > section:nth-child(1) > aside > img:nth-child(2) {
    position: absolute;
    height: 80%;
    top: 20px;
    bottom: 0;
    right: 25px;
    margin: auto;
}

main > section:nth-child(1) > article {
    position: absolute;
    left: 120px;
    top: 220px;
}

main > section:nth-child(1) > article > h4:first-child {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 42px;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

main > section:nth-child(1) > article > h2 {
    position: relative;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 56px;
    left: 0;
    top: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

main > section:nth-child(1) > article > h4:last-child {
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 42px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    left: 0;
    top: 24px;
}

main > section:nth-child(1) > article > h4:last-child > span {
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: #3515B7;
}

main > section:nth-child(1) > nav {
    position: absolute;
    top: 500px;
    left: 200px;
    margin: auto;
}

main > section:nth-child(1) > nav > div {
    display: inline;
    margin-left: 30px;
}

main > section:nth-child(1) > nav > div > a > img {
    height: 60px;
}

main > section:nth-child(2) {
    position: relative;
    background: rgba(249, 249, 249, 0.8);
    width: 100%;
    height: 100vh;
}

main > section:nth-child(2) > h3 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bolder;
    font-size: 42px;
}

main > section:nth-child(2) > article {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;

}

main > section:nth-child(2) > article > img {
    position: absolute;
    width: 500px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 100px;
    border-radius: 20px;
}

main > section:nth-child(2) > aside > p {
    position: absolute;
    top: 100px;
    right: 80px;
    text-align: center;
    margin: auto;
    font-family: 'Cambria', serif;
    font-weight: normal;
    font-size: 30px;
}

main > section:nth-child(2) > aside > ul {
    list-style-type: none;
    position: absolute;
    top: 350px;
    right: 250px;
    border: none;
    text-align: left;
    font-size: 24px;
}

main > section:nth-child(2) > aside > ul > li:before {
    content: ">";
    color: #00B2FF;
    font-size: 20px;
    font-weight: bold;
}

main > section:nth-child(2) > aside > ul > li {
    margin-bottom: 25px;
}

main > section:nth-child(2) > aside > a > button {
    position: absolute;
    bottom: 100px;
    right: 350px;
    background: #458FFF;
    border: none;
    color: white;
    box-shadow: 10px 10px 10px 0 black;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    height: 60px;
    width: 250px;
}

main > section:nth-child(2) > aside > a > button:hover {
    transform: scale(1.05);
}

main > section:nth-child(3) {
    position: relative;
    background: rgba(163, 200, 255, 0.8);
    width: 100%;
    height: 100vh;
}

main > section:nth-child(3) > img:first-child {
    position: relative;
    height: 150px;
}

main > section:nth-child(3) > img:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 150px;
}

main > section:nth-child(3) > h3 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 42px;
}

main > section:nth-child(3) > p {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 30px;
}

main > section:nth-child(3) > article > img:nth-child(1) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 500px;
    margin: auto;
}

main > section:nth-child(3) > article > img:nth-child(2) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 500px;
    margin: auto;
}

main > section:nth-child(3) > article > img:nth-child(3) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 500px;
    margin: auto;
}

main > section:nth-child(4) {
    position: relative;
    background: rgba(249, 249, 249, 0.8);
    width: 100%;
    height: 100vh;
}

main > section:nth-child(4) > img:first-child {
    position: relative;
    height: 150px;
}

main > section:nth-child(4) > img:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 150px;
}

main > section:nth-child(4) > h3 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 42px;
}

main > section:nth-child(4) > div > div:first-child {
    position: absolute;
    left: 350px;
    top: 120px;
    margin: auto;
    border: #0038FD solid 5px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

main > section:nth-child(4) > div > div:nth-child(2) {
    position: absolute;
    left: 372px;
    top: 165px;
    margin: auto;
    background: #0038FD;
    width: 5px;
    height: 160px;
}

main > section:nth-child(4) > div > div:nth-child(3) {
    position: absolute;
    left: 350px;
    top: 320px;
    margin: auto;
    border: #0038FD solid 5px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

main > section:nth-child(4) > div > div:nth-child(4) {
    position: absolute;
    left: 372px;
    top: 365px;
    margin: auto;
    background: #0038FD;
    width: 5px;
    height: 160px;
}

main > section:nth-child(4) > div > div:last-child {
    position: absolute;
    left: 350px;
    top: 520px;
    margin: auto;
    border: #0038FD solid 5px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

main > section:nth-child(4) > article > img:nth-child(1) {
    position: absolute;
    left: 470px;
    top: 120px;
    margin: auto;
    width: 170px;
}

main > section:nth-child(4) > article > img:nth-child(2) {
    position: absolute;
    left: 520px;
    top: 310px;
    margin: auto;
    height: 70px;
}

main > section:nth-child(4) > article > img:nth-child(3) {
    position: absolute;
    left: 520px;
    top: 510px;
    margin: auto;
    height: 70px;
}

main > section:nth-child(4) > aside > ul {
    list-style-type: none;
    position: absolute;
    top: 100px;
    left: 650px;
    border: none;
    text-align: left;
    font-size: 24px;
}

main > section:nth-child(4) > aside > ul > li:first-child {
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 40px;
    border: none;
    text-align: left;
    font-size: 24px;
    width: 420px;
    line-height: 36px;
    color: #0038FF;
}

main > section:nth-child(4) > aside > ul > li:nth-child(2) {
    list-style-type: none;
    position: absolute;
    top: 200px;
    left: 40px;
    border: none;
    text-align: left;
    font-size: 24px;
    width: 550px;
    line-height: 36px;
    color: #0038FF;
}

main > section:nth-child(4) > aside > ul > li:last-child {
    list-style-type: none;
    position: absolute;
    top: 400px;
    left: 40px;
    border: none;
    text-align: left;
    font-size: 24px;
    width: 550px;
    line-height: 36px;
    color: #0038FF;
}

main > section:nth-child(5) {
    position: relative;
    background: rgba(249, 249, 249, 0.8);
    width: 100%;
    height: 100vh;
}

main > section:nth-child(5) > img:first-child {
    position: relative;
    height: 150px;
}

main > section:nth-child(5) > img:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 150px;
}

main > section:nth-child(5) > article > h3 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 42px;
}

main > section:nth-child(5) > article > p {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    color: #A45757;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 24px;
}

main > section:nth-child(5) > article > div:first-child {
    position: absolute;
    left: 300px;
    top: 200px;
    height: 400px;
    width: 350px;
    background: #C2C2C2;
    box-shadow: 10px 10px 10px 0 black;
    border-radius: 20px;
    margin: auto;
}

main > section:nth-child(5) > article > div:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main > section:nth-child(5) > article > div:first-child > img {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    height: 80px;
    margin: auto;
}

main > section:nth-child(5) > article > div:first-child > h4 {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 36px;
}

main > section:nth-child(5) > article > div:first-child > p {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 24px;
}

main > section:nth-child(5) > article > div:last-child {
    position: absolute;
    right: 300px;
    top: 200px;
    height: 400px;
    width: 350px;
    background: #C2C2C2;
    box-shadow: 10px 10px 10px 0 black;
    border-radius: 20px;
    margin: auto;
}

main > section:nth-child(5) > article > div:last-child > aside > img {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    height: 80px;
    margin: auto;
}

main > section:nth-child(5) > article > div:last-child > aside > h4 {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 36px;
}


main > section:nth-child(5) > article > div:last-child > aside > p {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 24px;
}

main > section:nth-child(6) {
    position: relative;
    background: rgb(163, 200, 255);
    width: 100%;
    height: 100vh;
}

main > section:nth-child(6) > img:first-child {
    position: relative;
    height: 150px;
}

main > section:nth-child(6) > img:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 150px;
}

main > section:nth-child(6) > h3 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 42px;
}

main > section:nth-child(6) > article > img:nth-child(1) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 600px;
    margin: auto;
}

main > section:nth-child(6) > article > img:nth-child(2) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 600px;
    margin: auto;
}

main > section:nth-child(6) > article > img:nth-child(3) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 600px;
    margin: auto;
}


main > section:nth-child(7) {
    position: relative;
    background: rgba(249, 249, 249, 0.8);
    width: 100%;
    height: 100vh;
}

main > section:nth-child(7) > h3 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 42px;
}

main > section:nth-child(7) > article > img {
    position: absolute;
    left: 50px;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 500px;
}

main > section:nth-child(7) > aside > h4 {
    position: absolute;
    right: 100px;
    top: 100px;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 30px;
}

main > section:nth-child(7) > aside > article > p {
    position: absolute;
    right: 100px;
    top: 175px;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 24px;
}

main > section:nth-child(7) > aside > ul {
    list-style-type: none;
    position: absolute;
    top: 320px;
    right: 450px;
    border: none;
    text-align: left;
    font-size: 24px;
}

main > section:nth-child(7) > aside > ul > li:first-child {
    list-style-type: none;
    position: absolute;
    top: 50px;
    left: 0;
    background: #D3BEFF;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    border: none;
    text-align: center;
    font-size: 24px;
}

main > section:nth-child(7) > aside > ul > li:nth-child(2) {
    list-style-type: none;
    position: absolute;
    top: 50px;
    left: 150px;
    background: #D3BEFF;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    border: none;
    text-align: center;
    font-size: 24px;
}

main > section:nth-child(7) > aside > ul > li:last-child {
    list-style-type: none;
    position: absolute;
    top: 50px;
    left: 300px;
    background: #D3BEFF;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    border: none;
    text-align: center;
    font-size: 24px;
}

main > section:nth-child(7) > aside > a > button {
    position: absolute;
    bottom: 200px;
    right: 160px;
    background: #458FFF;
    border: none;
    color: white;
    box-shadow: 10px 10px 10px 0 black;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    height: 60px;
    width: 250px;
}

main > section:nth-child(7) > aside > a > button:hover {
    transform: scale(1.05);
}

main > section:nth-child(7) > aside > a > button > img {
    height: 30px;
}

main > section:nth-child(8) {
    position: relative;
    background: rgb(163, 200, 255);
    width: 100%;
    height: 100vh;
}

main > section:nth-child(8) > img:first-child {
    position: relative;
    height: 150px;
}

main > section:nth-child(8) > img:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 150px;
}

main > section:nth-child(8) > article > a:first-child > img {
    position: absolute;
    top: 75px;
    left: 120px;
    height: 400px;
}

main > section:nth-child(8) > article > a:nth-child(2) > img {
    position: absolute;
    bottom: 50px;
    right: 200px;
    height: 300px;
}

main > section:nth-child(8) > article > a:nth-child(3) > img {
    position: absolute;
    bottom: 25px;
    left: 250px;
    height: 250px;
}

main > section:nth-child(8) > article > a:last-child > img {
    position: absolute;
    top: 75px;
    right: 75px;
    height: 300px;
}

main > section:nth-child(9) {
    position: relative;
    background: rgb(163, 200, 255);
    width: 100%;
    height: 100vh;
}

main > section:nth-child(9) > h3 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 42px;
}

main > section:nth-child(9) > p:nth-child(2) {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 24px;
}

main > section:nth-child(9) > div {
    top: 200px;
    left: 220px;
    position: relative;
    height: 500px;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

main > section:nth-child(9) > div > a > div:hover {
    transform: scale(1.05);
}

main > section:nth-child(9) > div > a > div > img {
    box-shadow: 10px 10px 10px 0 black;
    width: 350px;
}

main > section:nth-child(9) > p:nth-child(4) {
    position: absolute;
    left: 360px;
    top: 160px;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 20px;
}

main > section:nth-child(9) > p:nth-child(5) {
    position: absolute;
    left: 730px;
    top: 160px;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 20px;
}

main > section:nth-child(9) > p:nth-child(6) {
    position: absolute;
    left: 1100px;
    top: 160px;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 20px;
}

main > section:nth-child(9) > p:nth-child(7) {
    position: absolute;
    left: 360px;
    top: 420px;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 20px;
}

main > section:nth-child(9) > p:nth-child(8) {
    position: absolute;
    left: 730px;
    top: 420px;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 20px;
}

main > section:nth-child(9) > p:nth-child(9) {
    position: absolute;
    left: 1100px;
    top: 420px;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 20px;
}

main > section:nth-child(10) {
    position: relative;
    background: rgba(249, 249, 249, 0.8);
    width: 100%;
    height: 100vh;
}

main > section:nth-child(10) > img:first-child {
    position: relative;
    height: 150px;
}

main > section:nth-child(10) > img:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 150px;
}

main > section:nth-child(10) > h3 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 42px;
}

main > section:nth-child(10) > div {
    bottom: 60px;
    left: 50px;
    position: relative;
    height: 600px;
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

main > section:nth-child(10) > div > div {
    box-shadow: 10px 10px 10px 0;
    border-radius: 20px;
}

main > section:nth-child(10) > div > div:hover {
    transform: scale(1.05);
}

main > section:nth-child(10) > div > div:nth-child(1) {
    background: url("/assets/img/gallery1.jpg");
    background-size: cover;
    background-position: center;
    grid-row: 1/3;
}

main > section:nth-child(10) > div > div:nth-child(2) {
    background: url("/assets/img/gallery6.jpg");
    background-size: cover;
    background-position: center;
}

main > section:nth-child(10) > div > div:nth-child(3) {
    background: url("/assets/img/gallery3.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 3/4;
    grid-row: 1/3;
}

main > section:nth-child(10) > div > div:nth-child(4) {
    background: url("/assets/img/gallery7.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 3/4;
    grid-row: 3/4;
}

main > section:nth-child(10) > div > div:nth-child(5) {
    background: url("/assets/img/gallery4.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 2/3;
    grid-row: 2/4;
}

main > section:nth-child(10) > div > div:nth-child(6) {
    background: url("/assets/img/gallery5.jpg");
    background-size: cover;
    background-position: center;
    grid-row: 2/4;
    grid-column: 4/5;
    z-index: 1;
}

main > section:nth-child(10) > div > div:nth-child(7) {
    background: url("/assets/img/gallery8.jpg");
    background-size: cover;
    background-position: center;
    grid-row: 1/2;
    grid-column: 4/5;
}

main > section:nth-child(10) > div > div:nth-child(8) {
    background: url("/assets/img/gallery9.jpg");
    background-size: cover;
    background-position: center;
    grid-row: 3/4;
    grid-column: 1/2;
}

main > footer > section:nth-child(1) {
    position: relative;
    background: rgb(163, 200, 255);
    width: 100%;
    height: 100vh;
}

main > footer > section:nth-child(1) > img:first-child {
    position: relative;
    height: 150px;
}

main > footer > section:nth-child(1) > img:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 150px;
}

main > footer > section:nth-child(1) > h3 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 42px;
}

main > footer > section:nth-child(1) > p {
    position: absolute;
    left: 0;
    right: 0;
    top: 45px;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 28px;
}

main > footer > section:nth-child(1) > div {
    position: absolute;
    left: 100px;
    right: 0;
    top: 120px;
    height: 550px;
    width: 500px;
    background: white;
    border-radius: 20px;
}

main > footer > section:nth-child(1) > div > h3 {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 36px;
}

main > footer > section:nth-child(1) > div > h5:nth-child(2) {
    position: absolute;
    left: 40px;
    top: 110px;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bolder;
    font-size: 24px;
}

main > footer > section:nth-child(1) > div > address:nth-child(3) {
    position: absolute;
    left: 40px;
    top: 160px;
    margin: auto;
    text-align: left;
    font-family: 'Gowun Batang', serif;
    font-size: 20px;
}

main > footer > section:nth-child(1) > div > h5:nth-child(4) {
    position: absolute;
    left: 40px;
    top: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bolder;
    font-size: 24px;
}

main > footer > section:nth-child(1) > div > address:nth-child(5) > a {
    position: absolute;
    text-decoration: none;
    left: 40px;
    top: 350px;
    margin: auto;
    text-align: left;
    font-family: 'Gowun Batang', serif;
    font-size: 20px;
    font-weight: bolder;
    color: black;
}

main > footer > section:nth-child(1) > div > h5:nth-child(6) {
    position: absolute;
    left: 40px;
    top: 390px;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bolder;
    font-size: 24px;
}

main > footer > section:nth-child(1) > div > address:nth-child(7) > a {
    position: absolute;
    text-decoration: none;
    left: 40px;
    top: 440px;
    margin: auto;
    text-align: left;
    font-family: 'Gowun Batang', serif;
    font-size: 20px;
    font-weight: bolder;
    color: black;
}

main > footer > section:nth-child(1) > aside > form > fieldset {
    border: none;
}

main > footer > section:nth-child(1) > aside > form > fieldset > input {
    width: 39vw;
    height: 44px;
    background: #F7F8FA;
    box-shadow: 10px 10px 10px 0 black;
    border-radius: 43px;
    border: none;
    padding: 0 0 0 20px;
    outline: none;
}

main > footer > section:nth-child(1) > aside > form > fieldset > label {
    position: absolute;
    margin: auto;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-weight: bolder;
    font-size: 26px;
}

main > footer > section:nth-child(1) > aside > form > fieldset > label:nth-child(1) {
    top: 160px;
    right: 750px;
}

main > footer > section:nth-child(1) > aside > form > fieldset > input#txtName {
    position: absolute;
    top: 200px;
    right: 200px;
}

main > footer > section:nth-child(1) > aside > form > fieldset > label:nth-child(5) {
    top: 260px;
    right: 750px;
}

main > footer > section:nth-child(1) > aside > form > fieldset > input#txtEmail {
    position: absolute;
    top: 300px;
    right: 200px;
}

main > footer > section:nth-child(1) > aside > form > fieldset > label:nth-child(9) {
    top: 360px;
    right: 720px;
}

main > footer > section:nth-child(1) > aside > form > fieldset > textarea {
    width: 39vw;
    height: 184px;
    background: #F7F8FA;
    box-shadow: 10px 10px 10px 0 black;
    border-radius: 43px;
    border: none;
    padding: 20px 0 0 20px;
    position: absolute;
    top: 400px;
    right: 200px;
    outline: none;
}

main > footer > section:nth-child(1) > aside > form > fieldset > button {
    position: absolute;
    bottom: 70px;
    right: 660px;
    background: #458FFF;
    border: none;
    color: white;
    box-shadow: 10px 10px 10px 0 black;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    height: 60px;
    width: 150px;
}

main > footer > section:nth-child(1) > aside > form > fieldset > button:hover {
    transform: scale(1.05);
}

main > footer > section:nth-child(2) {
    position: relative;
    background: rgb(113, 113, 113);
    width: 100%;
    height: 30vh;
}

main > footer > section:nth-child(2) > article > h3 {
    position: relative;
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 30px;
}

main > footer > section:nth-child(2) > article > p {
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 24px;
}

main > footer > section:nth-child(2) > nav {
    position: absolute;
    top: 90px;
    left: 590px;
    margin: auto;
}

main > footer > section:nth-child(2) > nav > div {
    display: inline;
    margin-left: 30px;
}

main > footer > section:nth-child(2) > nav > div > a > img {
    height: 45px;
}

main > footer > section:nth-child(2) > p {
    position: relative;
    left: 0;
    right: 0;
    top: 120px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 20px;
}

main > footer > section:nth-child(2) > aside > nav {
    position: absolute;
    z-index: 1;
}

main > footer > section:nth-child(2) > aside > nav > menu {
    position: relative;
    left: 450px;
    top: 50px;
}

main > footer > section:nth-child(2) > aside > nav > menu > li {
    display: inline-block;
    margin: 20px;
}

main > footer > section:nth-child(2) > aside > nav > menu > li > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
}

main > div > a > img {
    position: fixed;
    width: 100px;
    height: 100px;
    right: 5px;
    bottom: 5px;
    z-index: 2;
}

@media all and (max-width: 320px) {
    header > h1 {
        left: 0;
        right: 0;
        top: 5px;
        margin: auto;
        text-align: center;
        font-size: 40px;
    }

    header > nav > menu {
        display: none;
    }

    header > div {
        width: 50px;
        display: contents;
    }

    header > div > i {
        position: absolute;
        right: -15px;
        top: 10px;
        margin: auto;
        width: 50px;
    }

    main > section:nth-child(1) > aside > img:nth-child(2) {
        left: 0;
        right: 0;
        bottom: 170px;
        height: 50%;
        margin: auto;
    }

    main > section:nth-child(1) > aside > img:nth-child(1) {
        left: 0;
        right: 0;
        bottom: 170px;
        height: 40%;
        margin: auto;
    }

    main > section:nth-child(1) > div {
        display: none;
    }

    main > section:nth-child(1) > article {
        left: 0;
        right: 0;
        margin: auto;
        top: 400px;
        text-align: center;
    }

    main > section:nth-child(1) > article > h4:first-child {
        font-size: 20px;
    }

    main > section:nth-child(1) > article > h2 {
        font-size: 25px;
    }

    main > section:nth-child(1) > article > h4:last-child {
        font-size: 28px;
    }

    main > section:nth-child(1) > article > h4:last-child > span {
        font-size: 28px;
    }

    main > section:nth-child(1) > nav {
        left: 0;
        right: 0;
        padding: 14px;
        margin-top: 45px;
    }

    main > section:nth-child(1) > nav > div {
        display: inline;
        margin-left: 30px;
    }

    main > section:nth-child(1) > nav > div > a > img {
        height: 30px;
    }

    main > section:nth-child(2) > h3 {
        top: 5px;
        font-size: 30px;
    }

    main > section:nth-child(2) > article {
        top: 0;
        left: 0;
        right: 0;
    }

    main > section:nth-child(2) > article > img {
        width: 250px;
        bottom: 260px;
        left: 0;
        right: 0;
    }

    main > section:nth-child(2) > aside > p {
        top: 330px;
        right: 0;
        left: 0;
        font-size: 12px;
    }

    main > section:nth-child(2) > aside > ul {
        top: 420px;
        left: 18%;
        right: 0;
        text-align: left;
        font-size: 12px;
    }

    main > section:nth-child(2) > aside > ul > li:before {
        font-size: 10px;
    }

    main > section:nth-child(2) > aside > ul > li {
        margin-bottom: 6px;
    }

    main > section:nth-child(2) > aside > a > button {
        bottom: 50px;
        right: 0;
        left: 0;
        margin: auto;
        font-size: 20px;
        height: 40px;
        width: 150px;
    }

    main > section:nth-child(3) > img:first-child {
        height: 50px;
    }

    main > section:nth-child(3) > img:last-child {
        height: 50px;
    }

    main > section:nth-child(3) > h3 {
        top: 5px;
        font-size: 30px;
    }

    main > section:nth-child(3) > p {
        top: 60px;
        font-size: 11px;
    }

    main > section:nth-child(3) > article > img:nth-child(1) {
        height: 150px;
    }

    main > section:nth-child(3) > article > img:nth-child(2) {
        height: 150px;
    }

    main > section:nth-child(3) > article > img:nth-child(3) {
        height: 150px;
    }

    main > section:nth-child(4) > img:first-child {
        height: 50px;
    }

    main > section:nth-child(4) > img:last-child {
        height: 50px;
    }

    main > section:nth-child(4) > h3 {
        top: 5px;
        font-size: 30px;
    }

    main > section:nth-child(4) > div > div:first-child {
        left: 40px;
        top: 100px;
        border-width: 2px;
        width: 10px;
        height: 10px;
    }

    main > section:nth-child(4) > div > div:nth-child(2) {
        left: 46px;
        top: 112px;
        width: 2px;
        height: 140px;
    }

    main > section:nth-child(4) > div > div:nth-child(3) {
        left: 40px;
        top: 252px;
        border-width: 2px;
        width: 10px;
        height: 10px;
    }

    main > section:nth-child(4) > div > div:nth-child(4) {
        left: 46px;
        top: 265px;
        width: 2px;
        height: 140px;
    }

    main > section:nth-child(4) > div > div:last-child {
        left: 40px;
        top: 405px;
        border-width: 2px;
        width: 10px;
        height: 10px;
    }

    main > section:nth-child(4) > article > img:nth-child(1) {
        position: absolute;
        left: 70px;
        top: 90px;
        margin: auto;
        width: 120px;
    }

    main > section:nth-child(4) > article > img:nth-child(2) {
        left: 100px;
        top: 210px;
        height: 50px;
    }

    main > section:nth-child(4) > article > img:nth-child(3) {
        left: 100px;
        top: 350px;
        height: 50px;
    }

    main > section:nth-child(4) > aside > ul {
        top: 120px;
        left: 30px;
    }

    main > section:nth-child(4) > aside > ul > li:first-child {
        font-size: 12px;
        width: 250px;
        line-height: 18px;
    }

    main > section:nth-child(4) > aside > ul > li:nth-child(2) {
        top: 125px;
        font-size: 12px;
        width: 250px;
        line-height: 18px;
    }

    main > section:nth-child(4) > aside > ul > li:last-child {
        top: 270px;
        font-size: 12px;
        width: 250px;
        line-height: 18px;
    }

    main > section:nth-child(5) > img:first-child {
        height: 50px;
    }

    main > section:nth-child(5) > img:last-child {
        height: 50px;
    }

    main > section:nth-child(5) > article > h3 {
        top: 5px;
        font-size: 30px;
    }

    main > section:nth-child(5) > article > p {
        top: 40px;
        font-size: 16px;
    }

    main > section:nth-child(5) > article > div:first-child {
        left: 0;
        right: 0;
        top: 100px;
        height: 200px;
        width: 250px;
    }

    main > section:nth-child(5) > article > div:first-child > img {
        top: 5px;
        height: 40px;
    }

    main > section:nth-child(5) > article > div:first-child > h4 {
        top: 50px;
        font-size: 16px;
    }

    main > section:nth-child(5) > article > div:first-child > p {
        top: 80px;
        font-size: 14px;
    }

    main > section:nth-child(5) > article > div:last-child {
        left: 0;
        right: 0;
        top: 350px;
        height: 200px;
        width: 250px;
    }

    main > section:nth-child(5) > article > div:last-child > aside > img {
        top: 5px;
        height: 40px;
    }

    main > section:nth-child(5) > article > div:last-child > aside > h4 {
        top: 50px;
        font-size: 16px;
    }

    main > section:nth-child(5) > article > div:last-child > aside > p {
        top: 80px;
        font-size: 14px;
    }

    main > section:nth-child(6) > img:first-child {
        height: 50px;
    }

    main > section:nth-child(6) > img:last-child {
        height: 50px;
    }

    main > section:nth-child(6) > h3 {
        top: 5px;
        font-size: 30px;
    }

    main > section:nth-child(6) > article > img:nth-child(1) {
        height: 220px;
    }

    main > section:nth-child(6) > article > img:nth-child(2) {
        height: 220px;
    }

    main > section:nth-child(6) > article > img:nth-child(3) {
        height: 220px;
    }

}